/* 
Experiments
*/
 header div {
   width: 40px;
   margin: 0 auto;
 }

/* 
Experiments
*/





body {
  color: #918B8B;
  margin: 0;
  height: 100%;
  background-image: url('img/esc.png');
  background-position: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  font-family: 'Megrim', cursive;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

 /***************
 Header
 ***************/

header {
  height: 50px;
}

nav {
  display: none;
}

.header-nav {
  margin-top: 10px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  font-family: 'Megrim', cursive;
  font-size: 2em;
}

.nav-li {
  list-style: none;
  line-height: 2em;
}

.nav-li:hover {
  font-weight: bold;
  cursor: pointer;
}

.mobile-nav {
  display: none;
  font-size: 4vh;
  margin-top: 0;
  padding: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.nav-button:first-of-type {
  margin-top: 25px;
}

.nav-button {
  display: none;
  margin: 6px auto;
  height: 2px;
  width: 40px;
  background-color: #918B8B;
}


 /***************
Main Content
 ***************/

.logo {
  display: none;
  margin-top: 40vh;
  margin-bottom: 40vh;
  padding-left: 50vw;
  text-align: center;
  font-family: 'Megrim', cursive;
  font-size: 7em;
  cursor: default;
}

.container {
  background-color: rgba(145, 139, 139, .2);
  height: 75%;
  width: 80%;
  margin: 10vh auto;
  padding: 20px;
  display: flex;
  font-size: 1.5em;
  border-radius: 10px;
  z-index: -1;
}

.container p {
  flex-basis: 25%;
  margin: auto;
}

table {
  width: 50%;
  margin: auto;
  text-align: center;
}

 /***************
 Footer
 ***************/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-around;
}

#soc-media-nav {
  margin-top: 20px;
  position: absolute;
  left: 0;
}

.soc-media-icon {
  width: 40px;
}

.soc-media-icon:hover {
  width: 50px;
}

footer p {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

 /***************
Media Queries
 ***************/

@media (max-width: 700px) {
  
  .header-nav {
    display: none;
    font-size: 6vw;
    height: 50vh;
  }

  .nav-button {
    display: block;
  }

  .nav-li {
    line-height: 3em;
  }

  .logo {
    font-size: 9vw;
    margin-top: 40vh;
    margin-bottom: 40vh;
    padding: 0;
    cursor: default;
  }

  .soc-media-icon {
    display: none;
  }
}

@media (max-width: 1000px) {

  .logo {
    font-size: 5vh;
  }

  .container {
    flex-direction: column;
  }

  .container p {
    text-align: center;
  }

  table {
    margin-top: 20px;
    width: 100%;
  }
 
}

@media (max-height: 681px) {
  /* body {
    height: 100%;
  } */
}