body {
  margin: 0;
  font-family: 'Exo', sans-serif;
  background-color: #F1F1F1;
  color: #000000;
  max-width: 100vw;
}

#gallery-wrapper {
  background-color: #333333
}

header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 0 5% 0 5%;
  background-color: #2c3e50;
  color: white;
  height: 50px;
  border-bottom: 1px solid #C4B9B9;
  position: sticky;
  top: 0;
  width: 90%;
  box-shadow: inset 0 2px 6px #647686, inset 0 -2px 6px #647686;
}

#header-logo {
  color: #d7dadb;
  margin: 0;
  font-family: 'Lobster', cursive;
  font-size: 1.75em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-shadow: 5px 5px black;
}

#header-logo:hover {
  cursor: pointer;
}

#container {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#logo-banner {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 500px;
  background-image: url(img/quickline.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  margin: 0;
  padding-top: 50px;
}

#logo {
  margin: 25px auto 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #d7dadb;
  font-family: 'Lobster', cursive;
  font-size: 7em;
  cursor: default;
  text-shadow: 5px 5px black;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  margin: 0;
  list-style: none;
  display: flex;
  flex-basis: content;
  justify-content: space-between;
}

ul a {
  color: white;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  flex-basis: 40%;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  padding-left: 10px;
  padding-right: 10px;
}

ul a:first-child {
  border-left: none;
}

ul a:last-child {
  border-right: none;
}

ul a:hover {
  background-color: #d7dadb;
  color: #2c3e50;
  cursor: pointer;
}

p {
  margin: 0 auto;
  padding: 10px;
  text-align: justify;
  flex-basis: 30%;
  min-width: 300px;
}

footer {
  position: relative;
  bottom: 0;
  height: 50px;
  width: 100vw;
}

footer p {
  text-align: center;
}

#menu-nav-button {
  display: none;
  margin: 5px;
  padding: 4px 6px;
  position: relative;
}

#menu-nav-button:hover {
  background-color: #d7dadb;
  cursor: pointer;
  border-radius: 5px;
}

#menu-nav-hidden {
  display: none;
}

#menu-nav-show {
  display: flex;
  margin: 0;
  padding: 0;
  color: white;
  position: absolute;
  background: #2c3e50;
  width: 350px;
  height: 300px;
  top: 48px;
  right: -30px;
  border: 1px solid #C4B9B9;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;
}

#menu-nav li {
  border: none;
}

#menu-nav-button span {
  width: 35px;
  height: 2px;
  background-color: #B1B1B1;
}

#gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery-img {
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 500px;
}

/* lightbox */

#overlay {
  background:rgba(0,0,0,0.9);
  width:100%;
  height:100vh;
  position: fixed;
  top: 0;
  display:none;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

#overlay img {
  margin: 0 auto;
  max-width: 90%;
  max-height: 80%;
}

/* Shows page */
table {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
}

td {
  border-bottom: 1px solid black;
  height: 2em;
}


@media (max-width: 750px) {
  ul {
    display: none;
  }

  #menu-nav-button {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
  }

  #logo {
    font-size: 15vw;
  }

  table {
    width: 100%;
    font-size: 1.3em;
  }
}

@media (max-width: 1077px) {
  .gallery-img {
    width: 90%;
    max-width: 700px;
  }

}



