body {
  background: #5F5F5F;
  font-family: 'Megrim', cursive;
  overflow-x: hidden;
}

.pagebreak {
  height: 30px;
  background: linear-gradient(to right, rgba(197, 14, 14, 0.4), rgba(0, 12, 90, 0.4));
  box-shadow: inset 0 -10px 9px -7px rgba(0,0,0,0.5);
}

section {
  height: 100vh;
  box-shadow: 1px 3px 4px rgba(0,0,0,.5);
}

.container {
  height: 100%;
}

/****************************************
Header
****************************************/

.navbar {
  background-color: rgba(0, 0, 0, .8);
  box-shadow: 1px 3px 4px rgba(0,0,0,.5);
  padding: 0;
}

.navbar-toggler {
  font-size: 1em;
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}

.nav-link {
  font-size: 1.3em;
  margin: 0 10px;
  transition: all .3s;
}

.nav-link:hover {
  transform: scale(1.3);
}

#nav-logo {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  font-size: 2em;
  display: none;
}

/****************************************
Landing
****************************************/

#landing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background: radial-gradient(
    rgba(197, 14, 14, 0.32),
    rgba(15, 34, 182, 0.32)
  );
  background-size: cover;
  background-position: center;
}

#landing-logo {
  color: white;
  /* margin-top: 200px; */
  font-size: 10em;
}

#scroll-arrow {
  width: 50px;
  height: 50px;
  transition: .2s ease-in-out;
}

#scroll-arrow:hover {
  transform: scale(1.5);
  cursor: pointer;
}

/****************************************
About
****************************************/

#about {
  background: radial-gradient(transparent, rgba(115, 116, 122, 0.2));
}

.card {
  height: 800px;
  border: none;
  border-radius: 0;
  box-shadow: 4px 5px 10px rgba(0,0,0,.5);
}

.card-header {
  background-color: rgb(124, 124, 124);
  border-radius: 0;
  color: white;
}

.card-header:first-child {
  border-radius: 0;
}

.come-in {
  transform: translateY(200px);
  opacity: 0;
  animation: come-in 1s ease forwards;
}

@keyframes come-in {
  to { 
    transform: translateY(0);
    opacity: 1;
  }
}

p {
  font-family: 'Open Sans Condensed';
  font-size: 1.3em;
}

/****************************************
Shows
****************************************/

#shows {
  background: transparent;
}

/****************************************
Pictures
****************************************/

#pictures {
  height: 100%;
  background: #1D4350;
  background: linear-gradient(to top right, #A43931, #1D4350);
 
  content: "";
  display: table;
  clear: both;
}

.gallery-image {
  filter: grayscale(90%);
  margin: 0 auto;
  width: 33.33%;
  margin: 0;
  padding: 0;
  float: left;
}

.gallery-image:hover {
  filter: grayscale(0);
}

.gallery-image:nth-of-type(even){
  animation-delay: .3s;
}

/****************************************
Contact
****************************************/

#contact {
  height: 600px;
  background-image: url('../img/esc.png');
  background-repeat: repeat;
  background-attachment: fixed;
}

/****************************************
Media Queries
****************************************/

@media (max-width: 992px) {
  #about {
    height: 100%;
  }

  .card {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .gallery-image {
    width: 50%;
  }
}

@media (max-width: 768px) {

  #landing-logo {
    font-size: 6em;
  }

  #scroll-arrow {
    width: 40px;
    height: 40px;
  }

  .card {
    margin: 10px auto;
  }
}

@media (max-width: 576px) {
  #landing-logo {
    font-size: 4em;
  }

  #scroll-arrow {
    width: 30px;
    height: 30px;
  }

  .card {
    height: 100%;
  }

  .gallery-image {
    width: 100%;
  }

  .gallery-image:nth-of-type(even){
    animation-delay: 0s;
  }
}

